body {
  background-color: rgb(246, 252, 244);
  color: #444941;
  margin: 0;
  font-family: 'Poppins', sans-serif;

}

.main-wraper {
  padding: 3% 30% 3% 6%;
}

.main-wraper a {
  color: rgb(56, 154, 195);
}

h1, h2, h3, h4 ,h5{
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

p{
  font-family: 'Poppins', sans-serif;
}


/***** HEADER ******/

.navbar{
  /* padding: 0 20px; */
}
nav a {
  color: #444941;
  font-size: 20px;
  font-weight: lighter;
}

.nav-link {
  margin-left: 80px;
  position: relative;
  top: 30px;
  font-family: 'Poppins', sans-serif;
  border: solid 1px rgb(246, 252, 244);
}


.nav-link:hover{
  color:#444941;
border-color: #444941;
border-radius: 10px;
}

.navbar-brand{
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;

}

.navbar-brand:hover{
  color:#444941;
}

/* COVER SECTION */
.img-cover-container {
  width: 100%;
  height: 600px;
  background-image: url("../images/benefits-yoga-fb.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  animation-name: cover;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}


@keyframes cover {
  from{
    transform: scale(1.4);
  }

  to{
    transform: scale(1);
  }
}

/*** HEADING BOX ***/

.cover-content h1 {
  color: white;
  font-size: 2.4rem;
  font-family: 'Scheherazade New', serif;
}

.cover-content {
  background-color: black;
  opacity: 0.5;
  width: 45%;
  height: 300px;
  padding: 20px 20px;
  position: absolute;
  bottom: 20px;
  clear: both;
  animation-name: boxSlide;
  animation-duration: 3s;
}


@keyframes boxSlide {

  from{
position: absolute;
left: -300px;
 }
  to{
    position: absolute;
    left:0;
bottom: 20px;

  }
}

/**** HEADINGS ****/

.mind{
  position: relative;
  animation-name: mindSlide;
  animation-duration:3s;
  color:white;

}

@keyframes mindSlide {
  from{
    position: relative;
    right: 500px;
    color: rgba(255, 255, 255, 0);
  }
  to{
    left: 0;
    color:white;

  }

}


.body{
  position: relative;
  animation-name: bodySlide;
  animation-duration:6s;
  color:white;

}


@keyframes bodySlide {
  from{
    position: relative;
    right: 500px;
    color: rgba(255, 255, 255, 0);
  }
  to{
    left: 0;
    color:white;

  }

}

.beyond{
  position: relative;
  animation-name: beyondSlide;
  animation-duration:9s;
  color:white;
}

@keyframes beyondSlide {
  from{
    position: relative;
    right: 500px;
    color: rgba(255, 255, 255, 0);
  }
  to{
    color: rgba(255, 255, 255, 0.14);

  }
  to{
    left: 0;
    color: rgba(255, 255, 255, 1);

  }

}



/* BENEFITS SECTION */

#benefits-section {
  padding-top: 4%;
  padding-bottom: 4%;
background-color: rgb(246, 252, 244);
}

.benefits-container{
  text-align: center;
  margin-top: 60px;
}


.benefits-container ul{
  padding-left: 18%;
  padding-right: 18%;
}

ul > li {
margin-bottom: 60px;
  font-weight: 500;
  font-size: 25px;
  color: rgb(89, 133, 85);
  list-style-type: none;
}



/***** BUTTON *****/

.button-container{
  margin: 10% auto 5%;
}

.button-container a{
font-size: 1.3rem;
font-weight: bold;
width: 70%;
font-family: 'Open Sans', sans-serif;
 color: rgb(24, 68, 21);
  background-color: rgb(223, 215, 128);
  border-color: rgb(250, 239, 154);
}

.benefits-container a:hover{
  background-color: rgb(246, 252, 244);
  border-color: rgb(255, 183, 34);
  border-color:  rgb(24, 68, 21);
  color:  rgb(24, 68, 21);
}







/* FOOTER SECTION */
#footer {
  background-color: rgb(37, 50, 42);
  width: 100%;
  margin-bottom: 0;
  padding-top: 5%;
}

.footer-brand {
  font-weight: bold;
  color: white;
  display: inline;
  margin-right: 60px;
  padding-bottom: 5%;
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(37, 50, 42);
  font-size: 2.5rem;
}

.footer-containers-wrapper {
  display: flex;
}

.footer-items-container{
  margin: 0 80px;
  line-height: 45px;
}

.footer-items-container p{
  padding-bottom: 14px;
}

#footer a {
  display: grid;
  color: white;
}

#footer a:hover {
  color: rgb(255, 179, 68);
  text-decoration: none;

}

.copy-right {
  text-align: center;
  color: white;
  padding: 5%;
  margin-bottom: 0;
  font-size: 14px;
}

/* modal */
#modal-footer-wraper {
  display: none;
}




















/***** MEDIA SECTION ***/
@media (max-width: 1000px) {
  .burguer {
    position: absolute;
    right: 40px;
    top: 40px;
    display: inline-block;
    height: 40px;
    width: 50px;
    border: solid 1px #444941;
    border-radius: 10%;
  }

  .line {
    background-color: #444941;
    width: 25px;
    height: 4px;
    margin: 7px 11px;
    border-radius: 15px;
  }

  .navbar-brand {
    font-size: 1.8rem;
  }



  /** COVER SECTION **/
  .img-cover-container {
    width: 100%;
    height: 500px;
  }

  .cover-content {
    width: 50%;
    height: 200px;
    padding: 20px 25px;
    clear: both;
  }

  .cover-content h1 {
    color: white;
    font-size: 1.8rem;
  }

  .strong {
    font-size: 1.9rem;
  }

  /* BENEFITS SECTION */

  .benefits-container{
    text-align: center;
  }

  .benefits-container ul{
    padding-left: 5%;
    padding-right: 5%;
  }

  .heading-benefits h1 {
    font-size: 2.6rem;
    letter-spacing: 5px;
  }

ul > li{
  text-align: center;
}

  /* BUTTON*/
  .button-container{
    margin: 10% auto 5%;
  }

   .button-container a{
  text-align: center;
  font-size: 1.1rem;
  font-family: 'Open Sans', sans-serif;
 color: rgb(24, 68, 21);
  background-color: rgb(223, 215, 128);
  border-color: rgb(250, 239, 154);
  }



  /***  MODAL FOOTER SECTION ****/

  .footer-containers-wrapper {
    display: none;
  }

  #modal-footer-wraper {
    display: grid;
    padding: 5% 7% 0 7%;
  }

  .modal-footer-container {
    display: flex;
    padding: 0 20%;

  }

  .modal-items-container {
    display: flex;
    line-height: 45px;

  }

  .modal-footer-links-container {
    margin: 0 auto;
  }

  .modal-footer-social-container {
    display: flex;
    justify-content: center;
    margin-top: 6%;
  }

  .modal-footer-social-container a {
    margin: auto 30px;
  }

  .modal-footer-brand {
    font-size: 2.5rem;
    margin-bottom: 0;
    text-align: center;
    color: white;
    background-color: rgb(37, 50, 42);

  }

}








@media(max-width: 575px) {
  .burguer {
    position: absolute;
    right: 25px;
    top: 15px;
    display: inline-block;
    height: 35px;
    width: 45px;
  }

  .line {
    width: 20px;
    height: 3px;
    margin: 6px 11px;
    border-radius: 15px;
  }

  .navbar-brand {
    font-size: 1.5rem;
  }


  .cover-content {
    width: 90%;
    padding: 20px 20px;
    position: relative;
    top: 250px;
    clear: both;
  }

  .cover-content h1 {
    color: white;
    font-size: 1.8rem;
  }

  .strong {
    font-size: 2.3rem;
  }

  /* BENEFITS SECTION */

  .heading-benefits h1 {
    font-size: 2.3rem;
    letter-spacing: 3px;
    font-weight: bold;
    margin: 40px 3px 30px;
  }

  .benefits-container ul{
    padding-left: 3%;
    padding-right: 3%;
  }
  ul>li {
    margin-bottom: 35px;
    list-style-type: none;
    font-size: 18px;
  }


/* BUTTON */

.button-container{
  margin: 15% auto 15%;
}
.button-container a{
  font-size: 1.2rem;
  font-weight: 500;
  width: 90%;
   color: rgb(24, 68, 21);
    background-color: rgb(223, 215, 128);
    border-color: rgb(250, 239, 154);
  }
  .btn:focus{
    outline: none;
  }


  /* FOOTER SECTION */
  .footer-containers-wrapper {
    display: none;
  }

  #modal-footer-wraper {
    display: grid;
    padding-top: 6%;
  }

  .modal-footer-container {
    display: flex;
  }

  .modal-items-container {
    display: flex;
    line-height: 45px;

  }

  .modal-footer-links-container {
    margin: 0 auto;
  }

  .modal-footer-social-container {
    display: flex;
    justify-content: center;
    margin-top: 15%;
  }

  .modal-footer-social-container a {
    margin: auto 30px;
  }

  .modal-footer-brand {
    font-size: 2rem;
    margin-bottom: 0;
    text-align: center;
    color: white;
    background-color: rgb(37, 50, 42);
  }
}
