body{
  background-color: rgb(246, 252, 244);
  color: #444941;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

header{
  background-color: rgb(246, 252, 244);

}
 .navbar{
   padding: 3% 6%;
 }



/***** HEADER ******/
nav  a{
  color: #444941;
}

.nav-link{
  margin-left: 30px;
  border: solid 1px rgb(246, 252, 244);
}

.nav-link:hover{
  color:#444941;
border-color: #444941;
border-radius: 10px;
}

.navbar-brand{
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;

}


/****  NAVIGATION BAR  ************/

.navigation-bar-container{
  padding: 3% 6% 1% 6%;
  color: rgb(255, 179, 68);
  background-color: #444941;
  font-weight: bold;

}

.navigation-items{
 display: flex;
 margin: 0 auto;
}

.navigation-items .active{
border-bottom: solid 2px rgb(255, 179, 68);
border-radius: 10%;
}

.navigation-items a:hover{
text-decoration: none;
color: rgb(246, 200, 133);
}

.navigation-bar-container a{
  margin-left: 30px;
  margin-right: 30px;
  color: rgb(255, 179, 68);
}


/* NAVIGATION BAR MOBILE */
.navigation-mobile-container{
  display: none;
}

/***** PAGE NAVIGATION ****/
.top-page-navigation{
padding: 0% 18%;
background-color: rgb(246, 252, 244);
}

.top-page-items-navigation{
  justify-content: space-around;
display: flex;
padding-top: 6%;
font-size: 23px;
font-weight: 500;

}


/***** REVIEW CONTAINER ******/
.review-container{
  text-align: center;
  margin-top: 8%;
  margin: 0 auto;
  background-color: rgb(203, 188, 109);
height: 120px;
padding: 3% 3% 3% 3%;
margin-top: 50px;
margin-bottom: 50px;
border-radius: 10px;
  width: 40%;
}


 .review-container a{
  margin-left: 20px;
  margin-right: 20px;
}

/* FOOTER SECTION */

#footer{
  background-color: rgb(37, 50, 42);
  width: 100%;
  padding-top: 5%;
}

.footer-brand{
  font-weight: bold;
  color: white;
  display: inline;
  margin-right: 60px;
  padding-bottom: 5%;
  font-family: 'Open Sans', sans-serif;
 background-color: rgb(37, 50, 42);
 font-size: 2.5rem;
}

.footer-containers-wrapper{
  display: flex;
}

.footer-items-container{
  margin: 0 80px;
  line-height: 45px;
}

.footer-items-container p{
  padding-bottom: 14px;
}

#footer a{
  display: grid;
color: white;
}

#footer a:hover{
  color: rgb(255, 179, 68);
  text-decoration: none;

}

.copy-right{
  font-size: 16px;
  text-align: center;
  color: white;
  padding: 5%;
  margin-bottom: 0;
}

/*** MODAL FOOTER ***/
#modal-footer-wraper{
  display: none;
}



/********** PAGE CONTENT ***********/

.main-wraper{
  padding: 3% 15% 3% 15%;
  line-height: 31px;
  list-style: none;
}
.main-wraper h1, h2, h3, h5{
   background-color: rgb(255, 250, 200);

 }

 .main-wraper h2{
   margin-bottom: 30px;
 }
 .main-wraper h3{
   margin-top: 60px;
   margin-bottom: 35px;
 }

 .main-wraper h4{
   margin-top: 60px;
   margin-bottom: 35px;
 }

.main-wraper a{

  color: rgb(56, 154, 195);

}

.main-wraper li{
  font-family: 'Poppins', sans-serif;
list-style: none;
}

.main-wraper li::before{
  content: "\2022";
color:rgb(179, 0, 203);
  font-weight: bold;
  display: inline-block;
  width: 1em;
}


img{
  width: 777px;
  height:auto;
}

#video-1{
  width: 560px;
   height: 315px;
   border: none;
}

.video-intro-mindAndMeditation{
  margin-top: 50px;
  text-align: center;
}


/*** HOW TO PRACTICE CONTENT **/

.practise-mindfulness-meditation-content h2{
  margin-top: 12%;
  padding: 3% 0;
}

.practise-mindfulness-meditation-content h5{
  font-weight: bold;
}

.options{
  padding-left: 0;
  font-weight: bold;
}

.positions-container{
  margin-top: 30px;
  margin-bottom: 80px;
}

.positions-container img{
  margin-top: 50px;
  margin-right: 50px;
  margin-bottom: 60px;
 width:350px;
  height: 210px;
}



/*** TECNIQUES ***/

.mindfulness-meditation-techniques-content li{
  margin-bottom: 20px;
}

/**** EXECERCIsES CONTAINERS   ****/
.exercises-links-container{
  margin: 10px 10px;
}

/*** BENEFITS SECTION ***/

.benefits-container h2{
  margin-top: 90px;
  margin-bottom: 40px;
}

.benefits-container ul li{
  margin-bottom: 15px;
}






































/***** MEDIA SECTION ***/

@media (max-width: 990px) {

body{
  margin-right: 0;
}
  .burguer {
    position: absolute;
    right: 40px;
    top: 40px;
    display: inline-block;
    height: 40px;
    width: 50px;
    border: solid 1px #444941;
    border-radius: 10%;
  }

  .line {
    background-color: #444941;
    width: 25px;
    height: 4px;
    margin: 7px 11px;
    border-radius: 15px;
  }

  .navbar-brand {
    font-size: 1.8rem;
  }

  /* NAVIGATION BAR */

  .navigation-bar-container{
    display: none;
  }

  /* MOBILE */

  .navigation-mobile-container{
    padding: 3% 6% 3% 6%;
    color: rgb(255, 179, 68);
    background-color: #444941;
    display: flex;
    text-align: center;
  }
  .navigation-items{
  font-size: 19px;
  font-weight: bold;
  display: flex;
  margin: 0 auto;
  line-height: 39px;
  }

  .navigation-items .active{
    border-radius: 10%;
  }
  .separator-navigation-container{
  margin: auto 20px;
  color: rgb(255, 179, 68);
  display:grid;
  }
  .separator-navigation-container a{
  color: rgb(255, 179, 68);
  }

  /***** PAGE NAVIGATION ****/

  .top-page-navigation{
margin-top: 30px;
margin-bottom: 30px;
}

.top-page-items-navigation{
  display: flex;
margin: 0 auto;

}

  .top-page-items-navigation a{
    margin-left: 5px;
    margin-right: 5px;
    font-size: 19px;
    text-align: center;

  }


  /***  MODAL FOOTER SECTION ****/

  .footer-containers-wrapper {
    display: none;
  }

  #modal-footer-wraper {
    display: grid;
    padding: 5% 7% 0 7%;
  }

  .modal-footer-container {
    display: flex;
    padding: 0 20%;
  }

  .modal-items-container {
    display: flex;
    line-height: 45px;
  }

  .modal-footer-links-container {
    margin: 0 auto;
  }

  .modal-footer-social-container {
    display: flex;
    justify-content: center;
    margin-top: 6%;
  }

  .modal-footer-social-container a {
    margin: auto 30px;
  }

  .modal-footer-brand {
    font-size: 2.5rem;
    margin-bottom: 0;
    text-align: center;
    color: white;
    background-color: rgb(37, 50, 42);
  }


  /***** REVIEW CONTAINER ******/
  .review-container{
    margin-top: 8%;
    margin: 0 auto;
    background-color: rgb(203, 188, 109);
  height: 120px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 10px;
    width: 60%;
    font-size: 19px;
  }

   .review-container a{
    margin-left: 10px;
    margin-right: 10px;

  }






  /*********** PAGE CONTENT **************/

  .main-wraper{
    padding: 3% 15% 3% 15%;
    line-height: 31px;
    }

  h1{
    font-size: 2rem;
    width: 100%;
  }

  h2{
    font-size: 1.7rem
  }

  h5{
  font-size: 1.1rem;
  }

  img{
    width: 100%;
    height: auto;
  }

  .positions-container img{
    width: 450px;
     height:300px;
     margin-bottom: 0;
  }

.intro-container{
  padding: 0;
}

#video-1{
  width:450px;
   height:290px;
}
}

































































@media (max-width: 575px){

  .burguer {
    position: absolute;
    right: 25px;
    top: 15px;
    display: inline-block;
    height: 35px;
    width: 45px;
  }

  .line {
    width: 20px;
    height: 3px;
    margin: 6px 11px;
    border-radius: 15px;
  }

  .navbar-brand {
    font-size: 1.5rem;
  }

  /* FOOTER SECTION */

  .footer-containers-wrapper {
    display: none;
  }

  #modal-footer-wraper {
    display: grid;
    padding-top: 6%;

  }

  .modal-items-container {
    display: flex;
    line-height: 45px;

  }
.modal-footer-links-container{
margin: 0 auto;
}

  .modal-footer-social-container {
    display: flex;
    justify-content: center;
    margin-top: 15%;
  }

  .modal-footer-social-container a {
    margin: auto 30px;
  }

  .modal-footer-brand {
    font-size: 2rem;
    margin-bottom: 0;
    text-align: center;
    color: white;
    background-color: rgb(37, 50, 42);
  }

/***** NAVIGATION SECTION *****/

/* NAVIGATION BAR */


/* MOBILE */

.navigation-mobile-container{
  padding: 6% 0% 6% 0%;
  color: rgb(255, 179, 68);
  background-color: #444941;
  justify-content: space-around;
  display: flex;
  text-align: center;
}
.navigation-items{
font-size: 14px;
font-weight: bold;
display: flex;
line-height: 27px;
margin: auto 0;
}

.navigation-items .active{
  font-size: 14px;
  font-weight: bold;
  border-bottom: solid 1px rgb(255, 179, 68);
}

.separator-navigation-container{
  margin-left: 18px;
  margin-right: 18px;
}

/***** PAGE NAVIGATION ****/

.top-page-navigation{
  margin: 0 auto;
padding: 0% 7%;
}
.top-page-items-navigation{
  margin: 0 auto;
padding-top: 6%;
padding-bottom: 3%;
font-size: 19px
}

.top-page-items-navigation a{
  margin-left: 5px;
  margin-right: 5px;
  font-size: 14px;
  text-align: center;

}

/***** REVIEW CONTAINER ******/
.review-container{
  margin-top: 10%;
  margin: 0 auto;
  background-color: rgb(203, 188, 109);
height: 100px;
margin-top: 50px;
margin-bottom: 50px;
border-radius: 10px;
  width: 80%;
  font-size: 18px;
}

.review-container h6{
  font-size: 0.9rem;
}

 .review-container a{
  margin-left: 5px;
  margin-right: 5px;

}

































  /** PAGE CONTENT **/

  .main-wraper{
    text-align: center;
    margin: 0 auto;
    padding: 3% 7%;

  }

.main-wraper li, .options-text{
  text-align: left;
}
  h1{
    font-size: 1.6rem;
  }

  h2{
    font-size: 1.4rem;
  }
  h3{
    font-size: 1.2rem;
  }

  img{
    width: 100%;
    height: auto;
  }

.positions-container img{
  width: 100%;
  height: 190px;
}

  #video-1{
    width:300px;
     height:180px;
  }
}
